@media (min-width: 320px) {
  .container {
    width: 95%;
    margin: auto;
  }
  .topbar-row {
    display: flex;
    justify-content: space-around;
  }
  .top-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .top-col-second {
    display: none;
  }
  /* top bar end*/
  .nav-row > nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
  }
  nav > ul > li:nth-child(5),
  nav > ul > li:nth-child(6),
  nav > ul > li:nth-child(7),
  nav > ul > li:nth-child(8) {
    display: none;
  }
  .drop > a {
    display: flex;
    gap: 3px;
    font-size: 12px;
  }
  .second-banner-col {
    display: none;
  }
  .banner-title > h2 {
    font-weight: 350;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 40px;
    word-break: normal;
  }
}
@media (min-width: 620px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .top-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .top-col-second {
    display: none;
  }
  /* top bar end*/
  nav > ul > li:nth-child(6),
  nav > ul > li:nth-child(7),
  nav > ul > li:nth-child(8) {
    display: block;
  }
  .drop > a {
    display: flex;
    gap: 3px;
    font-size: 12px;
  }
  .second-banner-col {
    display: none;
  }
}
@media (min-width: 960px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .topbar-row {
    display: flex;
    justify-content: space-between;
  }
  .top-col,
  .top-col-second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-row > nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
  }
  /* top bar  end*/
  nav > ul > li:nth-child(6),
  nav > ul > li:nth-child(7),
  nav > ul > li:nth-child(8) {
    display: block;
  }
  .drop > a {
    display: flex;
    gap: 5px;
    font-size: 15px;
  }
  .second-banner-col {
    display: block;
  }
  .banner-title > h2 {
    font-weight: 350;
    font-size: 30px;
    letter-spacing: 1px;
  }
}
.banner-col {
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-banner-col {
  width: 23%;
}

.banner-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-col {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  position: relative;
}
ul li {
  position: relative;
  margin: 0 20px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
ul #marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #d8232a;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}
.banner-search {
  width: 900px;
  height: 62px;
  margin: 0 auto;
  border-radius: 32px;
  box-shadow: 0 3px 12px -9px rgba(0, 0, 0, 0.4);
  border: 1px solid #909090;
  background-color: #fff;
}
.banner-loc {
  float: left;
  width: 350px;
  height: 36px;
  margin: 12px 16px 0 0;
  border-right: 1px solid #d7d7d7;
  padding-left: 32px;
  position: relative;
  z-index: 5;
}
.banner-loc::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 10px;
  width: 12px;
  height: 15px;
  z-index: 2;
}
.banner-loc__ {
  padding: 2px 0 12px 4px;
}
.banner-tag {
  float: left;
  position: relative;
  margin: 0 0 5px 5px;
}
.banner-text_tag {
  padding: 0 28px 0 12px;
  line-height: 32px;
  border-radius: 16px;
  color: #303030;
  cursor: default;
  background: #fbe9e9;
  font-size: 16px;
  max-width: 146px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.banner-input {
  position: absolute;
  bottom: -2px;
  left: 117px;
  width: calc(100% - 8px);
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #606060;
  border: none;
  outline: none;
  padding: 0 0 0 8px;
  background: none;
  margin-right: 16px;
}
#removeElement {
  content: "";
}
.remove::before,
.remove::after {
  content: none;
}
.another {
  position: absolute;
  bottom: -34px !important;
  left: 35px;
  width: 200px !important;
  height: 36px;
  line-height: 36px;
  font-size: 17px;
  color: #606060;
  border: none;
  outline: none;
  padding: 0 0 0 8px;
  background: none;
  margin-right: 16px;
}
.banner-text__tag > i,
.banner__text > i {
  position: absolute;
  right: 104px;
  font-size: 18px;
  bottom: 2px;
  color: #d8232a;
}
.banner-text__tag > .banner__text {
  position: absolute;
  top: 6px;
  right: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.banner-text__tag::before {
  content: "";
  position: absolute;
  left: 75px;
  top: 15px;
  width: 12px;
  height: 1px;
  background-color: #000;
  transform: rotate(-45deg);
}
.banner-text__tag::after {
  content: "";
  position: absolute;
  left: 75px;
  top: 15px;
  width: 12px;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
}
.banner-flat {
  float: left;
  width: 170px;
  height: 36px;
  margin: 12px 16px 0 0;
  border-right: 1px solid #d7d7d7;
  padding-left: 22px;
  position: relative;
}
.banner-flat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 15px;
  height: 14px;
}
.flat-title {
  font-size: 16px;
  color: #606060;
  padding: 0 30px 0 0;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  height: 48px;
}
.flater {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 78%;
  vertical-align: -12px;
}
.search-budget {
  float: left;
  width: 185px;
  height: 36px;
  margin: 12px 0 0;
  padding-left: 22px;
  position: relative;
}
.search-budget::before {
  position: absolute;
  left: 0;
  top: 10px;
  width: 15px;
  height: 14px;
}
.budget-title {
  font-size: 16px;
  color: #606060;
  padding: 0 30px 0 0;
  cursor: pointer;
  position: relative !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  height: 48px;
}
.buy-budget::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 14px;
  width: 11px;
  height: 6px;
}
.banner-flat > i {
  position: absolute;
  left: 0px;
  top: 9px;
  color: #d8232a;
}
.budget-btn {
  float: right;
  width: 152px;
  height: 48px;
  border-radius: 26px;
  background-color: #d8232a;
  /* margin: 6px 6px 0 0; */
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 46px;
  color: #fff;
  position: absolute;
  left: 61%;
  bottom: 48.5%;
}
.search-budget > i {
  position: absolute;
  left: 0px;
  bottom: 6px;
  color: #d8232a;
}

.search-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
  /* vertical-align: 2px; */
  position: relative;
  margin-right: 5px;
}
.chevron-down {
  position: absolute;
  left: 59.6%;
  bottom: 50.5%;
}
/* .slick-active button::before {
  border: 2px solid #d8232a;
  background-color: #fff;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  cursor: pointer;
} */
/* .chevron-down > i {
  position: relative;
} */
.budget-details {
  position: absolute;
  left: 50%;
  bottom: 5%;
}
#color-flat,
.new {
  background-color: #fff7e1;
  border-color: #fff7e1;
  color: #c2bfbf;
}
.search-btn::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #fff;
  left: 9px;
  top: 9px;
  transform: rotate(-45deg);
}
.first-slide > img,
.sec-slide > img {
  width: 275px;
  height: 175px;
  overflow: hidden;
}
.slick-dots {
  position: absolute;
  bottom: 7px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 7px !important;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.thrd-slide > .box {
  width: 275px;
  height: 175px;
  border: 1px solid #aaa;
  text-align: center;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.thrd-slide > .box > h4 {
  padding-top: 15px;
  font-weight: 350;
  font-size: 20px;
  width: 200px;
}
.thrd-slide > .box > h4 > .sell-banner {
  color: #d8232a;
}
.thrd-slide > .box > a {
  color: #d8232a;
  text-decoration: none;
  border: 1px solid #d8232a;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 15px;
  /* text-align: left; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.searched-title {
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
}
.searched-heading {
  color: #303030;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.searched-heading::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  margin-top: 8px;
  display: block;
  background-color: #ffc72c;
}
.searched-row {
  display: flex;
}
.searched-col {
  width: 33.33%;
  padding: 10px 20px;
}
.searched-card {
  width: 100%;
  height: 148px;
  border: 1px solid rgba(255, 199, 44, 0.4);
  background-color: rgba(255, 247, 225, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  padding: 10px 10px;
}

.searched-card > h3 {
  font-weight: 500;
}
.searched-card > h3 > .card_count {
  background: linear-gradient(to bottom, #d8232a, #ffc72c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.searched-card > a {
  text-decoration: none;
  color: #d8232a;
  font-weight: 500;
}
.searched-card > a > .arrow {
  color: #d8232a;
  /* margin-top: 15px; */
  padding-left: 10px;
  transition: all 0.6s ease;
}
.searched-card:hover {
  box-shadow: 0 3px 9px 0 rgba(48, 48, 48, 0.2);
}
.searched-card:hover .arrow {
  margin-left: 5px;
}
.icon_searched {
  position: absolute;
  left: 77%;
  font-size: 55px;
  bottom: -3%;
  color: rgba(255, 199, 44, 0.4);
}
.gallery-col {
  width: 33.33%;
  padding-bottom: 15px;
  /* padding: 10px 130px 0 10px; */
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
}
.gallery-card {
  display: flex;
  gap: 10px;
  width: 395px;
  height: 200px;
  border: 1px solid #bebebe;
  border-radius: 6px;
}
.gallery-img > img {
  width: 175px;
  height: 200px;
  border-radius: 6px 0 0 6px;
}
.gallery-by {
  color: #aaa8a8;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-heading {
  color: #303030;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
}
.gallery-heading::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  margin-top: 8px;
  display: block;
  background-color: #2cc1ee;
}
.gallery-see-all {
  color: #d8232a;
  text-decoration: none;
  font-weight: 500;
  position: absolute;
  left: 85%;
  bottom: -8%;
  /* top: 5%; */
}
.explore-row {
  display: flex;
}
.explore-col-first,
.explore-col {
  width: 25%;
  /* padding: 10px; */
  padding: 0 15px 0 0;
}
.explore-card,
.explore-card-frst {
  margin-right: 15px;
}
.explore-img > img {
  width: 60px;
  height: 60px;
}
.explore-card {
  border: 1px solid #d7d7d7;
  border-top: 2px solid #2fb2cb;
  width: 280px;
  height: 220px;
  border-radius: 8px;
  padding: 5px 10px;
  position: relative;
}
.explore-card-frst {
  padding: 5px 15px;
  background-color: #dff6f9;
  border: 1px solid #dff6f9;
  width: 230px;
  border-radius: 8px;
  height: 220px;
}
.explore-card-frst > h3 {
  font-family: "damion";
  font-weight: 550;
  font-size: 35px;
}
.explore-card-frst > p {
  font-size: 25px;
  font-weight: 400;
  margin-top: -15px;
  position: relative;
}
.explore-card-frst:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  padding-left: 5px;
  margin-top: -12px;
  display: block;
  background-color: #2cc1ee;
}
#explore,
#List-magic,
#banner,
#searched-loc {
  margin: 10px 0;
  padding: 10px 0;
}
.explore-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  padding-bottom: 22px;
}
.explore-card > h3 {
  font-weight: 500;
}
.explore-card > h3 > i {
  font-weight: 400;
  padding-left: 10px;
  font-size: 14px;
}
.explore-img {
  width: 280px;
  height: 64px;
  background-color: #dff6f9;
  position: relative;
  border-radius: 8px;
}
.explore-img > p {
  position: absolute;
  bottom: 7px;
  left: 90px;
  font-weight: 500;
  color: #d8232a;
}
.explore-img > img {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.explore-review > strong > i {
  padding-top: 10px;
  color: #f1ee06;
}
.loc-icon {
  color: #d8232a;
  visibility: hidden;
  position: absolute;
}
.local {
  position: absolute;
  visibility: visible;
  padding-top: 5px;
  color: #d8232a;
  font-size: 18px;
}
.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff8e2;
  border-radius: 8px;
}
.list-post {
  color: black;
  text-decoration: none;
  background-color: #ffc72c;
  padding: 13px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  font-size: 15px;
  font-weight: 500;
}
.list-post > .list-badge {
  display: inline-block;
  font-size: 9px;
  color: #303030;
  text-transform: uppercase;
  height: 13px;
  padding: 0 6px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #fff;
}
.list-col {
  padding: 0 20px;
}
.list-heading {
  margin-top: 0;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 400;
}
.list-free {
  font-family: "damion";
  font-size: 35px;
}
.list-col > p {
  margin-top: -30px;
  padding-bottom: 10px;
}
.list-row:hover .list-post {
  background-color: #ffde82;
}
.flat-title {
  position: relative;
}
#flat2 > i {
  position: absolute;
  left: 140px;
  top: 3px;
}
.residential {
  position: relative;
}
#flat-booking {
  position: absolute;
  width: 440px;
  height: 210px;
  background-color: #fff;
  box-shadow: 0 0 5px #c2bfbf;
  z-index: 11;
  border-radius: 6px;
  padding: 0 20px;
  /* display: none; */
}
.flat-Bhk,
.flat-types {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.flat-Bhk > div > button,
.flat-types > button {
  border-radius: 15px;
  border: 1px solid #c2bfbf;
  background-color: #fff;
  padding: 7px 13px;
}
.budget-details {
  width: 160px;
  height: 280px;
  background-color: #fff;
  box-shadow: 0 0 5px #c2bfbf;
  z-index: 10;
  border-radius: 6px;
  padding: 0 20px;
}
.budget-details > p {
  color: #bebebe;
}
.budget-details > p:hover {
  background-color: #cecece;
}

/* top bar */
#topbar {
  background-color: #d8232a;
}

.top-title,
.mb-prime,
.login {
  color: #fff;
}
.top-loc {
  color: #d7dbdd;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.mb-prime,
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.mb-prime > i,
.login > i {
  padding-top: 7px;
}
.top-loc > i {
  padding-top: 5px;
}

.post {
  color: black;
  text-decoration: none;
  background-color: #fff;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.post > .badge {
  display: inline-block;
  font-size: 9px;
  color: #303030;
  text-transform: uppercase;
  height: 13px;
  padding: 0 6px;
  border-radius: 6px;
  background-color: #ffc72c;
}
/* top bar end*/
#nav {
  position: relative;
}

li {
  list-style-type: none;
}

.drop > a:hover {
  color: #d8232a;
}
.drop > a > i {
  padding-top: 3px;
  color: #d8232a;
}
.drop > a > .nav-new {
  display: inline-block;
  font-size: 9px;
  color: #303030;
  text-transform: uppercase;
  height: 13px;
  padding: 0 6px;
  border-radius: 6px;
  background-color: #ffc72c;
}
.drop > .nav-offer {
  color: #d8232a;
  background-color: #e3f2f3;
  border: 2px solid skyblue;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 6px;
}
#nav:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -6px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #f2f3f4;
}
/* nav section end */
